*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 auto;
}

.btn-border{
    padding: 12px 22px;
    border: 1.5px solid #9DE03F;
    border-radius: 10px;
    font-weight: 500;
    color: #0B1902;
    background: transparent;
    cursor: pointer;
    font-family: 'Inter';
}

.btn-bg{
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #0B1902;
    background: #9DE03F;
    cursor: pointer;
    font-family: 'Inter';
}




/* header */
.header{
    padding: 50px 0;
    background-color: #0B1902;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap .btn-border{
    color: #9DE03F;
}

.logo{
    width: 60px;
    height: 32px;
}

.logo__wrap{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.logo__name{
    font-size: 20px;
    color: #9DE03F;
    line-height: 100%;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 700;
}



/* hero */
.hero{
    height: 800px;
    padding: 120px;
    background-color: #0B1902;
}

.hero__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero__name{
    font-weight: 400;
    font-size: 60px;
     line-height: 100%;
    letter-spacing: 2px;
    color: #9DE03F;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.hero__txt{
   font-weight: 500;
   font-size: 17px;
   color: #9DE03F;
   margin: 30px 0;
   font-family: 'Inter';
   font-weight: 400;
}

.hero__img{
    position: absolute;
    top: -120px;
    left: 137px;
}

/* wild */

.wild{
    width: 100%;
    padding: 120px 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.wild__wrap{
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wild__info{
    width: 600px;
}

.wild__name{
    font-weight: 400;
    font-size: 60px;
     color: #0B1902;
    line-height: 100%;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.wild__name span{
    color: #9DE03F;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.wild__txt{
    font-weight: 500;
    font-size: 17px;
    color: #0B1902;
    margin: 30px 0;
   font-weight: 400;
    font-family: 'Inter'; 
}

.btns{
    display: flex;
    gap: 18px;
}

.wild__list{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   list-style: none;
}

.wild__item_waterhall{
    width: 340px;
    height: 470px;
    background-image: url(./src/waterhall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 30px;
}

.wild__item_cave{
    width: 340px;
    height: 470px;
    background-image: url(./src/cave\ swimming.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 32px;
}

.item__name{
    font-size: 32px;
    color: #9DE03F;
    margin-top: 265px;
    line-height: 100%;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.item__txt{
    font-size: 17px;
    color: #9DE03F;
    margin-top: 14px;
    line-height: 150%;
    font-weight: 400;
    font-family: 'Inter';
}



/* adventure */
.adventure{
    padding: 100px 0;
}

.adventure__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.adventure__name{
    font-size: 66px;
     color: #0B1902;
    line-height: 100%;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.adventure__name span{
    color: #9DE03F;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.adventure__txt{
    font-weight: 500;
    font-size: 17px;
    color: #0B1902;
    margin: 30px 0;
   font-weight: 400;
    font-family: 'Inter'; 
}



/* built */
.built{
    width: 100%;
    height: 920px;
    background-image: url(./src/built\ bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.built__wrap{
    height: 920px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.built__name{
    font-size: 100px;
     color: #fff;
    line-height: 100%;
    letter-spacing: -1;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

.built__name span{
    color: #9DE03F;
   font-family: "Gasoek One";
    font-weight: 400;
}

.modal-btn{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal__link{
    color: #9DE03F;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    text-decoration: none;
}

.modal-img{
    margin:  auto;
    border: none;
    border-radius: 14px;
    width: 620px;
    height: 350px;
}

.blur-bg {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none;
  }

   #modal:popover-open ~ .blur-bg {
    display: block;
  }



/* footer */

.footer{
    padding: 60px 0;
    background-color: #0B1902;
}

.footer__wrap{
    height: 800px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.footer__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__right{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 150px;
}

.menu__link,
.media__link{
    line-height: 2;
    font-size: 32px;
    color: #9DE03F;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.footer__heading{
     font-size: 310px;
    color: #9DE03F;
    letter-spacing: 2px;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}